html {
  font-family: "Unica One", sans-serif;
}

.narwhal-text {
  left: .82em;
  top: 20%;
  z-index: 1000;
  color: #fff;
  opacity: 0;
  animation: text-fade ease 1.5s forwards;
}

@keyframes text-fade {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
